/****************************/
/*resets and global styling */
/****************************/
/* reset info at http://cssreset.com/scripts/eric-meyer-reset-css/ */
html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #B0E0E6;
    font-family: "Book Antiqua", serif;
    font-size: 1.0em;
}

h1, h2 {
    font-family: "Book Antiqua", serif, sans-serif;
}

/****************************/
/* styling by section       */
/****************************/

#top_nav {
    background-color: #4682B4;
    color: #ffffff;
    font-family: Tahoma, sans-serif;
    font-size: 1.2em;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

#top_nav > span:first-child {
    margin-left: 1.2em;
}

#top_nav > span {
    margin-right: 1.4em;
}

#top {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#top > img {
    width: 100%;
}

#top2 {
    margin: 0 auto;
    margin-top: -2.55em;
    position: relative;
    width: 100%;
    z-index: 0;
    color: #FFFAFA;
    font-size: 1em;
}

#top2 h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#container {
    margin: 0 auto;
    max-width: 1300px;
}

#content {
    background-color: #ffffff;
    float: left;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: 2.5em;
    width: 75%;
    padding: 0.5em; 
}

#body_img > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    max-width: 50%;
    max-height: 50%;
    min-width: 25%;
}

.caption {
    font-family: Palatino, serif;
    text-align: center;
    width: 100%;
}

#side_column {
    float: left;
    background-color: #ffffff;
    display: inline-block;
    width: 13%;
    margin-left: 2em;
    margin-top: 1em;
    padding: 1em;
}

/****************************/
/* media queries            */
/****************************/

@media screen and (max-width: 1200px) {
    #content {
        max-width: 94%;
    }
    
    #side_column {
        display: none;
    }
 
}

@media screen and (max-width: 768px) {
    #top > img {
        max-width: 900px;
    }
    
    #content {
        max-width: 90%;
    }
    
    #side_column {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #top_nav > span:first-child {
        margin-left: 0em;
    }
    
    #top > img {
        display: none;
        visibility: hidden;
    }
    
    #side_column {
        display: none;
    }
    
    #body_img > img {
        display: none;
    }
    
    .caption {
        display: none;
    }
    
    #top2 {
        margin-top: 3.5em;
        padding-top: 0.5em;
    }
    
    #top_nav {
        font-size: 1.0em;
    }
    
    #top_nav > span:first-child {
        margin-left: 0.25em;
    }

    #top_nav > span {
        margin-right: 0.75em;
    }
    
}

    
    
    
